@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to bottom right,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(237, 12%, 33%);
}

#main-container {
  width: 950px;
  height: auto;
  display: grid;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 40px 0px;
  grid-template-areas: "one two";
}

div.image {
  position: relative;
  height: 100%;
}

.ill-box {
  position: absolute;
  z-index: 1;
  top: 145px;
  right: 390px;
}

div.womancont {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.womancont :first-child {
  width: 100%;
  position: relative;
  right: 40px;
  bottom: 40px;
}

.questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.questions:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.rotate-icons {
  transform: rotate(180deg);
}

.icon {
  cursor: pointer;
  width: 15px;
}

.color {
  color: hsl(238, 29%, 16%);
}

.faq {
  width: 500px;
  padding-right: 100px;
}

.faq h2 {
  color: hsl(238, 29%, 16%);
  font-size: 30px;
}

.faqcont {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: 20px;
  padding-top: 20px;
}

/* .questions :last-child {
  padding-right: 20px;
} */

/* footer */
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f3f3f3;
}

.hidden {
  display: none;
}

/* media queries */
@media (max-width: 700px) and (orientation: portrait) {
  #main-container {
    width: 350px;
    display: block;
  }

  div.image {
    width: 200px;
    position: absolute;
    top: 40px;
    left: 130px;
    height: auto;
  }

  .faq {
    width: 100%;
    padding-right: 0px;
    padding: 0px 20px;
    margin-top: 80px;
  }

  .faq h2 {
    text-align: center;
  }

  .ill-box {
    top: 10px;
    right: 150px;
    z-index: 5;
    width: 100px;
  }

  div.womancont {
    height: auto;
    overflow: visible;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  #main-container {
    width: 300px;
    display: block;
    margin: 100px 0px;
  }

  div.image {
    left: 130px;
  }

  .faq {
    width: 100%;
    padding-right: 0px;
    padding: 0px 20px;
    margin-top: 80px;
  }

  .faq h2 {
    text-align: center;
  }
}

@media (max-width: 380px) and (orientation: portrait) {
  #main-container {
    width: 300px;
    display: block;
    margin: 100px 0px;
  }

  div.image {
    width: 200px;
    position: absolute;
    top: 40px;
    left: 130px;
  }

  .faq {
    width: 100%;
    padding-right: 0px;
    padding: 0px 20px;
    margin-top: 80px;
  }

  .faq h2 {
    text-align: center;
  }
}
